@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: 250, 67%, 90%;
    --color-primary-300: 250, 67%, 70%;
    --color-primary-500: 250, 67%, 50%;
    --color-primary-700: 250, 67%, 30%;
    --color-primary-900: 250, 67%, 10%;

    --color-text-base: 250, 67%, 98%;
    --color-text-muted: 250, 67%, 90%;
    --color-text-inverted: 250, 67%, 10%;

    --border-radius: 0.25rem;
  }
}

.gradient-theme {
  --color-primary-100: 250, 67%, 90%;
  --color-primary-300: 250, 67%, 70%;
  --color-primary-500: 250, 67%, 50%;
  --color-primary-700: 250, 67%, 30%;
  --color-primary-900: 250, 67%, 10%;

  --color-text-base: 250, 67%, 98%;
  --color-text-muted: 250, 67%, 90%;
  --color-text-inverted: 250, 67%, 10%;

  --border-radius: 999rem;
}
.neon-theme {
  --color-primary-100: 110, 80%, 90%;
  --color-primary-300: 110, 67%, 70%;
  --color-primary-500: 110, 80%, 50%;
  --color-primary-700: 110, 67%, 30%;
  --color-primary-900: 110, 80%, 10%;

  --color-text-base: 110, 80%, 10%;
  --color-text-muted: 110, 80%, 90%;
  --color-text-inverted: 110, 80%, 10%;

  --border-radius: 0;
}

@layer utilities {
  .gradient-button-hover-effect {
    &,
    &::before {
      background-size: 200% 200%;
      background-position: left center;
      transition: background-position 0.3s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:hover::before {
        background-position: right center;
      }
    }
  }

  .active-button-shift:active::after {
    transform: rotateY(90deg);
    transform-origin: left;
  }

  .active-button-shift:active::before {
    transform: rotateX(90deg);
    transform-origin: top;
  }
}
