@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-100: 250, 67%, 90%;
    --color-primary-500: 250, 67%, 50%;
    --color-primary-900: 250, 67%, 10%;

    --color-text-base: 250, 67%, 98%;
    --color-text-muted: 250, 67%, 90%;
    --color-text-inverted: 250, 67%, 10%;

    --border-radius: 0.25rem;
  }
}

.gradient-theme {
  --color-primary-100: 250, 67%, 90%;
  --color-primary-500: 250, 67%, 50%;
  --color-primary-900: 250, 67%, 10%;

  --color-text-base: 250, 67%, 98%;
  --color-text-muted: 250, 67%, 90%;
  --color-text-inverted: 250, 67%, 10%;

  --border-radius: 999rem;
}
.neon-theme {
  --color-primary-100: 110, 80%, 90%;
  --color-primary-500: 110, 80%, 50%;
  --color-primary-900: 110, 80%, 10%;

  --color-text-base: 110, 80%, 10%;
  --color-text-muted: 110, 80%, 90%;
  --color-text-inverted: 110, 80%, 10%;

  --border-radius: 0;
}

@layer components {
  /* Use this padding to stay responsive and have same height as secondary button */
  .px-gradient-primary-button-small {
    padding-left: calc(4px + theme(spacing.space-2xs)) !important;
    padding-right: calc(4px + theme(spacing.space-2xs)) !important;
  }
  .px-gradient-primary-button-medium {
    padding-left: calc(4px + theme(spacing.space-xs)) !important;
    padding-right: calc(4px + theme(spacing.space-xs)) !important;
  }
  .px-gradient-primary-button-large {
    padding-left: calc(4px + theme(spacing.space-s)) !important;
    padding-right: calc(4px + theme(spacing.space-s)) !important;
  }
  .py-gradient-primary-button-small {
    padding-top: calc(4px + theme(spacing.space-3xs)) !important;
    padding-bottom: calc(4px + theme(spacing.space-3xs)) !important;
  }
  .py-gradient-primary-button-medium {
    padding-top: calc(4px + theme(spacing.space-3xs)) !important;
    padding-bottom: calc(4px + theme(spacing.space-3xs)) !important;
  }
  .py-gradient-primary-button-large {
    padding-top: calc(4px + theme(spacing.space-2xs)) !important;
    padding-bottom: calc(4px + theme(spacing.space-2xs)) !important;
  }
}
