@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradient-theme {
    --color-primary-100: 250, 67%, 90%;
    --color-primary-100-contrast: 0, 0%, 15%;
    --color-primary-100-contrast-muted: 0, 0%, 46%;
    --color-primary-300: 250, 67%, 70%;
    --color-primary-300-contrast: 0, 0%, 15%;
    --color-primary-300-contrast-muted: 0, 0%, 46%;
    --color-primary-500: 250, 67%, 50%;
    --color-primary-500-contrast: 0, 0%, 100%;
    --color-primary-500-contrast-muted: 0, 0%, 60%;
    --color-primary-700: 250, 67%, 30%;
    --color-primary-700-contrast: 0, 0%, 100%;
    --color-primary-700-contrast-muted: 0, 0%, 60%;
    --color-primary-900: 250, 67%, 10%;
    --color-primary-900-contrast: 0, 0%, 100%;
    --color-primary-900-contrast-muted: 0, 0%, 60%;

    --color-background: 0, 0%, 100%;
    --color-background-contrast: 0, 0%, 15%;

    &.dark {
      --color-background: 0, 0%, 15%;
      --color-background-contrast: 0, 0%, 100%;
    }

    --border-radius: 999rem;
  }

  .neon-theme {
    --color-primary-100: 110, 80%, 90%;
    --color-primary-100-contrast: 0, 0%, 15%;
    --color-primary-100-contrast-muted: 0, 0%, 42%;
    --color-primary-300: 110, 67%, 70%;
    --color-primary-300-contrast: 0, 0%, 0%;
    --color-primary-300-contrast-muted: 0, 0%, 42%;
    --color-primary-500: 110, 80%, 50%;
    --color-primary-500-contrast: 0, 0%, 0%;
    --color-primary-500-contrast-muted: 0, 0%, 42%;
    --color-primary-700: 110, 67%, 30%;
    --color-primary-700-contrast: 0, 0%, 0%;
    --color-primary-700-contrast-muted: 0, 0%, 65%;
    --color-primary-900: 110, 80%, 10%;
    --color-primary-900-contrast: 0, 0%, 100%;
    --color-primary-900-contrast-muted: 0, 0%, 65%;

    --color-background: 0, 0%, 100%;
    --color-background-contrast: 0, 0%, 0%;

    &.dark {
      --color-background: 0, 0%, 0%;
      --color-background-contrast: 0, 0%, 100%;
    }

    --border-radius: 0rem;
  }
}

@layer utilities {
  .gradient-theme {
    &-bg {
      background-size: 150% 150%;
      animation: gradient-bg 20s ease infinite alternate;

      @keyframes gradient-bg {
        0% {
          background-position: 10% 0%;
        }
        20% {
          background-position: 55% 100%;
        }
        40% {
          background-position: 100% 30%;
        }
        60% {
          background-position: 78% 0%;
        }
        80% {
          background-position: 33% 70%;
        }
        100% {
          background-position: 66% 50%;
        }
      }
    }

    &-bg--1 {
      background-image: radial-gradient(
        at 8% 44%,
        hsla(204, 86%, 69%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--2 {
      background-image: radial-gradient(
        at 70% 74%,
        hsla(37, 96%, 74%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--3 {
      background-image: radial-gradient(
        at 3% 18%,
        hsla(308, 75%, 62%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--4 {
      background-image: radial-gradient(
        at 34% 7%,
        hsla(222, 85%, 65%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--5 {
      background-image: radial-gradient(
        at 75% 13%,
        hsla(257, 85%, 71%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--6 {
      background-image: radial-gradient(
        at 58% 39%,
        hsla(264, 98%, 69%, 1) 0px,
        transparent 50%
      );
    }

    &-bg--7 {
      background-image: radial-gradient(
        at 37% 55%,
        hsla(264, 67%, 74%, 1) 0px,
        transparent 50%
      );
    }

    &-button {
      &,
      &::before {
        background-size: 200% 200%;
        background-position: left top;
        transition: all 0.3s ease;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover,
        &:hover::before {
          background-position: right bottom;
        }
      }

      &:active {
        box-shadow: 3px 0px 10px 1px hsl(var(--color-primary-300)),
          0px 3px 10px 1px hsl(var(--color-primary-300));
      }
    }
  }

  .neon-theme-button-secondary-border {
    box-shadow: inset 3px 0px 0px hsl(var(--color-primary-500)),
      inset 0px 3px 0px hsl(var(--color-primary-500));
  }
}
